<div>
    <section>
        <img src="{{image}}" alt="movie-poster">
    </section>
    <section>
        <h2>{{title}}</h2>
        <h2>Director: <span>{{director}}</span></h2>
        <h2>Stars: <span>{{stars}}</span></h2>
        <h2>Synopsis: <span>{{description}}</span></h2>
        <h2>Showtimes: <span>{{showtimes}}</span></h2>
    </section>
</div>